:root {
  --font-family-sans: -apple-system, BlinkMacSystemFont, sans-serif;

  --color-black: #1a202c;
  --color-dark-gray: #1d2330;
  --color-gray: #697a90;
  --color-white: #fff;

  /* Typography */
  --font-base-size: 10px;
  --font-base-line-height: 1.8rem; /* 18px */
  --font-micro-size: 1rem; /* 10px */
  --font-micro-line-height: 1.2rem; /* 12px */
  --font-small-size: 1.6rem; /* 16px */
  --font-small-line-height: 2.4rem; /* 24px */
  --font-large-size: 1.8rem; /* 18px */
  --font-large-line-height: 2.7rem; /* 27px */

  --font-title3-size: 2.1rem; /* 21px */
  --font-title3-line-height: 3rem; /* 30px */
  --font-title2-size: 2.4rem; /* 24px */
  --font-title2-line-height: 3.3rem; /* 33px */
  --font-title1-size: 4.9rem; /* 49px */
  --font-title1-line-height: 5.7rem; /* 57px */
}
