:root {
  --font-family-sans: -apple-system, BlinkMacSystemFont, sans-serif;

  --color-black: #1a202c;
  --color-dark-gray: #1d2330;
  --color-gray: #697a90;
  --color-white: #fff;

  /* Typography */
  --font-base-size: 10px;
  --font-base-line-height: 1.8rem;
  --font-micro-size: 1.8rem;
  --font-micro-line-height: 3.1rem;
  --font-small-size: 2.1rem;
  --font-small-line-height: 3.6rem;
  --font-large-size: 2.8rem;
  --font-large-line-height: 4.8rem;

  --font-title3-size: 3.1rem;
  --font-title3-line-height: 3.7rem;
  --font-title2-size: 4rem;
  --font-title2-line-height: 4.8rem;
  --font-title1-size: 5.9rem;
  --font-title1-line-height: 7.1rem;
}
